In [1]:
import sqlite3
con = sqlite3.connect("/Users/reddy/Documents/GitHub/ResumeBuilder/ResumeBuilder/dbs/ResumeBuilder.db")
con.execute('PRAGMA foreign_keys = ON;')
cur = con.cursor()

In [ ]:

cur.execute("""CREATE TABLE IF NOT EXISTS user (
                user_name VARCHAR(255),
                user_email VARCHAR(255) PRIMARY KEY,
                user_phone VARCHAR(20),
                user_city VARCHAR(255),
                user_linkedin_link VARCHAR(255),
                user_summary TEXT,
                user_skills TEXT);
            """)

cur.execute("""CREATE TABLE IF NOT EXISTS work_exp (
                work_exp_id INTEGER PRIMARY KEY,
                work_exp_company VARCHAR(255),
                work_exp_role VARCHAR(255),
                work_exp_location VARCHAR(255),
                work_exp_start_date DATE,
                work_exp_end_date DATE,
                work_exp_description TEXT,
                user_id VARCHAR(255),
                FOREIGN KEY(user_id) REFERENCES user(email_id) ON DELETE CASCADE);
            """)

cur.execute("""CREATE TABLE IF NOT EXISTS project (
                project_id INTEGER PRIMARY KEY,
                project_name VARCHAR(255),
                project_link VARCHAR(255),
                project_start_date DATE,
                project_end_date DATE,
                project_description TEXT,
                user_id VARCHAR(255),
                FOREIGN KEY(user_id) REFERENCES user(email_id) ON DELETE CASCADE);
            """)

cur.execute("""CREATE TABLE IF NOT EXISTS education (
                education_id INTEGER PRIMARY KEY,
                institution_name VARCHAR(255),
                course VARCHAR(255),
                education_start_date DATE,
                education_end_date DATE,
                user_id VARCHAR(255),
                FOREIGN KEY(user_id) REFERENCES user(email_id) ON DELETE CASCADE);
            """)

cur.execute("""CREATE TABLE IF NOT EXISTS jobs (
                job_id INTEGER PRIMARY KEY,
                job_link VARCHAR(255),
                job_description TEXT,
                hiring_manager_fn VARCHAR(255),
                hiring_manager_ln VARCHAR(255),
                generated_questions TEXT,
                chatgpt_checkpoint TEXT,
                user_id VARCHAR(255),
                FOREIGN KEY(user_id) REFERENCES user(email_id) ON DELETE CASCADE);
            """)

In [ ]:
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchall()