In [2]:
import os
from docx import Document

In [4]:
os.getcwd()

'/Users/reddy/Documents/GitHub/ResumeBuilder/workingfiles'

In [5]:


resume = Document(SOURCEFILE)
print(resume)

<docx.document.Document object at 0x1045b74d0>

In [104]:
# Example Usage
SOURCEFILE = "../ResumeBuilder/inputs/template.docx"
docx_file = SOURCEFILE
details = extract_details(docx_file)

In [105]:
print(details)

{'name': 'Shashank Shashishekhar Reddy', 'location': 'San Jose, California', 'email': 'shashankshashishekharreddy@gmail.com', 'phone': '(510) 892-7191', 'summary': 'Data Engineer with hands-on experience with designing, developing and maintaining Extract, Transform and Load (ETL) pipelines coming from diverse data sources, and creating dashboards tailored to end-user or team requirements, facilitating data-driven decision-making, and ensuring proficiency in version control and data lifecycle management.', 'work_experience': [{'company': 'Data Engineer', 'role': 'Kantar', 'start_date': None, 'end_date': None, 'description': 'Built data pipelines with Apache Airflow and Spark to collect ads and sales data, storing it in an Amazon S3 data lake. Used Apache Spark for data transformation and enrichment, ensuring reliability with schema validation and error handling. Implemented data quality checks to maintain integrity throughout ingestion, transformation, and storage phases. Performed EDA and created visualizations in Tableau and Excel to identify patterns, boosting holiday sales by 12%. Designed ROI models to increase sales by 34% by optimizing ad spend on high-performing channels. Mentored two junior team members, improving team productivity and meeting deadlines with positive stakeholder feedback. '}, {'company': 'Data Engineer', 'role': 'The Sparks Foundation', 'start_date': None, 'end_date': None, 'description': 'Engineered robust ETL pipelines to manage and process large volumes of data from multiple sources, enhancing data integration by 25%. Collaborated with cross-functional teams to optimize database performance, reducing data retrieval times by 30%. Designed and implemented data quality checks to ensure accuracy and reliability, significantly minimizing data discrepancies. Automated data transformation processes using Python and SQL, decreasing manual intervention by 40%. Developed dashboards and visualizations to track data metrics, providing real-time insights for stakeholders. '}, {'company': 'Data Engineer Intern', 'role': 'The Sparks Foundation', 'start_date': None, 'end_date': None, 'description': 'Supported the development of ETL processes, contributing to the seamless integration of new data sources. Conducted data analysis to identify patterns and trends, informing decision-making across departments. Assisted in optimizing SQL queries to improve data extraction efficiency, achieving a 20% reduction in processing time. Created scripts for automated data cleaning, enhancing data quality and accuracy. '}], 'skills': 'Certificates: AWS Cloud Practitioner | Validation Code: QD8E074C82EQ1WCE Programming Languages: C, C++, Java, Python, R, SQL, Bash, JavaScript Cloud Services: AWS (EC2, S3, Lambda, Glue, Amazon S3, Amazon Redshift), GCP, Azure Databases: MySQL, MongoDB, PostgreSQL, RDS, Elasticsearch. Tools: Hadoop, Sqoop, Hive, PySpark, Flume, Airflow, Kafka, Pandas, Scikit-Learn, Keras, PyTorch, Docker, Terraform.', 'projects': [{'project_name': 'Your Own Cabs Analysis', 'start_date': None, 'end_date': None, 'description': 'Built data pipelines to analyze booking and clickstream data using Kafka, Spark, Hadoop, and Hive, driving actionable insights. Ingested clickstream data into Hadoop HDFS via Kafka and batch booking data into AWS RDS with Sqoop, increasing data throughput by 15%. Aggregated data using Spark and stored results in Hive tables to generate customer metrics like ride counts, conversion rates, and service KPIs. '}, {'project_name': 'Spar Nord Bank ETL', 'start_date': None, 'end_date': None, 'description': 'Managed ETL for Spar Nord Bank’s transactional data from MySQL RDS to Amazon Redshift with Apache Sqoop, PySpark, S3, and Redshift. Conducted analysis on Redshift to identify usage patterns, optimizing ATM refilling and reducing refills by 20%. '}], 'education': [{'institution': 'Master of Science in Data Analytics', 'start_date': None, 'end_date': None}, {'institution': 'PG Diploma in Data Science Specialization in Data Engineering', 'start_date': None, 'end_date': None}, {'institution': 'Bachelor’s in Computer Science', 'start_date': None, 'end_date': None}]}

In [106]:
for key in details.keys():
    print(details[key])

Shashank Shashishekhar Reddy
San Jose, California
shashankshashishekharreddy@gmail.com
(510) 892-7191
Data Engineer with hands-on experience with designing, developing and maintaining Extract, Transform and Load (ETL) pipelines coming from diverse data sources, and creating dashboards tailored to end-user or team requirements, facilitating data-driven decision-making, and ensuring proficiency in version control and data lifecycle management.
[{'company': 'Data Engineer', 'role': 'Kantar', 'start_date': None, 'end_date': None, 'description': 'Built data pipelines with Apache Airflow and Spark to collect ads and sales data, storing it in an Amazon S3 data lake. Used Apache Spark for data transformation and enrichment, ensuring reliability with schema validation and error handling. Implemented data quality checks to maintain integrity throughout ingestion, transformation, and storage phases. Performed EDA and created visualizations in Tableau and Excel to identify patterns, boosting holiday sales by 12%. Designed ROI models to increase sales by 34% by optimizing ad spend on high-performing channels. Mentored two junior team members, improving team productivity and meeting deadlines with positive stakeholder feedback. '}, {'company': 'Data Engineer', 'role': 'The Sparks Foundation', 'start_date': None, 'end_date': None, 'description': 'Engineered robust ETL pipelines to manage and process large volumes of data from multiple sources, enhancing data integration by 25%. Collaborated with cross-functional teams to optimize database performance, reducing data retrieval times by 30%. Designed and implemented data quality checks to ensure accuracy and reliability, significantly minimizing data discrepancies. Automated data transformation processes using Python and SQL, decreasing manual intervention by 40%. Developed dashboards and visualizations to track data metrics, providing real-time insights for stakeholders. '}, {'company': 'Data Engineer Intern', 'role': 'The Sparks Foundation', 'start_date': None, 'end_date': None, 'description': 'Supported the development of ETL processes, contributing to the seamless integration of new data sources. Conducted data analysis to identify patterns and trends, informing decision-making across departments. Assisted in optimizing SQL queries to improve data extraction efficiency, achieving a 20% reduction in processing time. Created scripts for automated data cleaning, enhancing data quality and accuracy. '}]
Certificates: AWS Cloud Practitioner | Validation Code: QD8E074C82EQ1WCE Programming Languages: C, C++, Java, Python, R, SQL, Bash, JavaScript Cloud Services: AWS (EC2, S3, Lambda, Glue, Amazon S3, Amazon Redshift), GCP, Azure Databases: MySQL, MongoDB, PostgreSQL, RDS, Elasticsearch. Tools: Hadoop, Sqoop, Hive, PySpark, Flume, Airflow, Kafka, Pandas, Scikit-Learn, Keras, PyTorch, Docker, Terraform.
[{'project_name': 'Your Own Cabs Analysis', 'start_date': None, 'end_date': None, 'description': 'Built data pipelines to analyze booking and clickstream data using Kafka, Spark, Hadoop, and Hive, driving actionable insights. Ingested clickstream data into Hadoop HDFS via Kafka and batch booking data into AWS RDS with Sqoop, increasing data throughput by 15%. Aggregated data using Spark and stored results in Hive tables to generate customer metrics like ride counts, conversion rates, and service KPIs. '}, {'project_name': 'Spar Nord Bank ETL', 'start_date': None, 'end_date': None, 'description': 'Managed ETL for Spar Nord Bank’s transactional data from MySQL RDS to Amazon Redshift with Apache Sqoop, PySpark, S3, and Redshift. Conducted analysis on Redshift to identify usage patterns, optimizing ATM refilling and reducing refills by 20%. '}]
[{'institution': 'Master of Science in Data Analytics', 'start_date': None, 'end_date': None}, {'institution': 'PG Diploma in Data Science Specialization in Data Engineering', 'start_date': None, 'end_date': None}, {'institution': 'Bachelor’s in Computer Science', 'start_date': None, 'end_date': None}]

In [49]:
details['education']

[]

In [17]:
details.keys()

dict_keys(['name', 'location', 'email', 'phone', 'summary', 'work_experience', 'skills', 'projects', 'education'])

In [ ]:
import os

os.path.abspath('..//mydb1')

'/Users/reddy/Documents/GitHub/ResumeBuilder/workingfiles/database/mydb1'

In [ ]:
import sqlite3
con = sqlite3.connect("/Users/reddy/Documents/GitHub/ResumeBuilder/ResumeBuilder/dbs/ResumeBuilder.db")
con.execute('PRAGMA foreign_keys = ON;')
cur = con.cursor()

In [13]:
cur.execute("""CREATE TABLE IF NOT EXISTS user (
                email_id VARCHAR(255) PRIMARY KEY,
                name VARCHAR(255),
                user_location VARCHAR(255),
                linkedin_link VARCHAR(255),
                phone VARCHAR(20),
                summary TEXT,
                skills TEXT);
            """)

cur.execute("""CREATE TABLE IF NOT EXISTS work (
                work_exp_id INTEGER PRIMARY KEY,
                company VARCHAR(255),
                role VARCHAR(255),
                work_location VARCHAR(255),
                work_start_date DATE,
                work_end_date DATE,
                work_description TEXT,
                user_id VARCHAR(255),
                FOREIGN KEY(user_id) REFERENCES user(email_id) ON DELETE CASCADE);
            """)

cur.execute("""CREATE TABLE IF NOT EXISTS project (
                project_id INTEGER PRIMARY KEY,
                project_name VARCHAR(255),
                project_link VARCHAR(255),
                project_start_date DATE,
                project_end_date DATE,
                project_description TEXT,
                user_id VARCHAR(255),
                FOREIGN KEY(user_id) REFERENCES user(email_id) ON DELETE CASCADE);
            """)

cur.execute("""CREATE TABLE IF NOT EXISTS education (
                education_id INTEGER PRIMARY KEY,
                institution_name VARCHAR(255),
                course VARCHAR(255),
                education_start_date DATE,
                education_end_date DATE,
                user_id VARCHAR(255),
                FOREIGN KEY(user_id) REFERENCES user(email_id) ON DELETE CASCADE);
            """)

cur.execute("""CREATE TABLE IF NOT EXISTS jobs (
                job_id INTEGER PRIMARY KEY,
                job_link VARCHAR(255),
                job_description TEXT,
                hiring_manager_fn VARCHAR(255),
                hiring_manager_ln VARCHAR(255),
                generated_questions TEXT,
                chatgpt_checkpoint TEXT,
                user_id VARCHAR(255),
                FOREIGN KEY(user_id) REFERENCES user(email_id) ON DELETE CASCADE);
            """)

In [ ]:
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchall()

[('user',),
 ('sqlite_autoindex_user_1',),
 ('work',),
 ('project',),
 ('education',),
 ('jobs',)]

In [ ]:
user_email_id, user_name, user_city = '', '', ''
user_linkedin_link, user_phone,  = '', ''
summary, skills = '', ''

cur.execute(f"""INSERT INTO 
                user (email_id, name, user_location, 
                        linkedin_link, phone, summary, skills)
                    VALUES ({user_email_id}, {user_name}, '{user_city}', 
                            {user_linkedin_link}, {user_phone}, 
                            {summary}, {skills});
            """)